In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch 
import random

from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
device=torch.device("cuda")

In [2]:
def setup_seed(seed):
    torch.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)
    np.random.seed(seed)
    random.seed(seed)
    torch.backends.cudnn.deterministic = True
setup_seed(20)

In [3]:
time_window = 96  
time_step = 16 
data_origin = pd.read_csv("澳元-美元.csv")

#data_origin = pd.read_csv('美元-人民币1981-2024.csv', encoding='ISO-8859-1')
#美元-日元 9419->9308
#澳元-美元 11485->11374
#美元-欧元 1980-2024 11496->11385
#美元-人民币1981-2024 11143->11032
data_y = data_origin.iloc[0:11374+time_window+time_step-1,1]
data_origin = data_origin.iloc[0:11374+time_window+time_step-1,1:6]
data_origin

           收盘      开盘       高       低     涨跌幅
0      1.1057  1.1057  1.1057  1.1057  0.0005
1      1.1062  1.1062  1.1062  1.1062  0.0005
2      1.1066  1.1066  1.1066  1.1066  0.0004
3      1.1085  1.1085  1.1085  1.1085  0.0017
4      1.1100  1.1100  1.1100  1.1100  0.0014
...       ...     ...     ...     ...     ...
11480  0.6434  0.6403  0.6447  0.6399  0.0052
11481  0.6420  0.6438  0.6457  0.6416 -0.0022
11482  0.6417  0.6423  0.6434  0.6362 -0.0005
11483  0.6425  0.6410  0.6427  0.6410  0.0013
11484  0.6443  0.6425  0.6445  0.6423  0.0027

[11485 rows x 5 columns]

In [4]:
data_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1)).fit(data_origin)
data = data_scaler.transform(data_origin)
x_range = data_scaler.data_range_
pd.DataFrame(data)

              0         1         2         3         4
0      0.882767  0.882866  0.881329  0.883080  0.541398
1      0.883472  0.883570  0.882043  0.883783  0.541398
2      0.884036  0.884133  0.882613  0.884345  0.540860
3      0.886713  0.886808  0.885323  0.887015  0.547849
4      0.888826  0.888920  0.887463  0.889123  0.546237
...         ...       ...       ...       ...       ...
11480  0.231365  0.227650  0.223791  0.228499  0.566667
11481  0.229393  0.232578  0.225218  0.230888  0.526882
11482  0.228970  0.230466  0.221937  0.223300  0.536022
11483  0.230097  0.228636  0.220939  0.230045  0.545699
11484  0.232634  0.230748  0.223506  0.231872  0.553226

[11485 rows x 5 columns]

In [5]:
data_y = data_y.to_numpy().reshape(-1,1)

datascaler_y = MinMaxScaler()
datascaler_y.fit(data_y)
y_range = datascaler_y.data_range_
y_range = np.sum(y_range)
y_min = datascaler_y.data_min_
y_min = np.sum(y_min)

In [6]:

n, f = data.shape 
print("data.shape",data.shape)

# ts_x = np.zeros((n-time_window-step+1, time_window, f-1))
test_x = np.zeros((n-time_window-time_step+1, time_window, f))

test_y = np.zeros((n-time_window-time_step+1, time_step, 1))

print('test_x.shape',test_x.shape)
print('test_y.shape',test_y.shape)

data.shape (11485, 5)
test_x.shape (11374, 96, 5)
test_y.shape (11374, 16, 1)

In [7]:
for i in range(n-time_window-time_step+1):
    # test_x[i] = data[i:i+time_window, 1:5]
    test_x[i] = data[i:i+time_window, :]
    
    test_y[i] = data[i+time_window:i+time_window+time_step,0].reshape(16,1)

print(test_x.shape, test_y.shape)

(11374, 96, 5) (11374, 16, 1)